<div *ngIf="isLoading"
    style="display: flex; flex-direction: column; gap: 24px; height: 100%; width: 100%; align-items: center; justify-content: center; margin-top: 150px;">
    <mat-spinner></mat-spinner>
    <p class="dots" style="color: var(--primary-text); font-size: 24px; font-weight: 500;">Generate</p>
</div>

<!-- 
<div *ngIf="!isLoading">
    <button (click)="generateGameStory()" style="width: 100%; margin-bottom: 16px;" mat-stroked-button>Generate</button>

    <div class="test">
        <img *ngIf="story" class="image" src="data:image/png;base64, {{story.image}}" alt="">
        <img *ngIf="!story" class="image" src="assets\images\image1.jpg" alt="">
        <div class="button-menu">
            <button mat-mini-fab (click)="toStartPage()" style="border-radius: 8px; margin: 8px;" color="primary">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iste modi assumenda dicta quis! Repellendus
            labore dolore velit officiis repellat.</p>
    </div>
    <div class="answerList">
        <div *ngFor="let g of govno; let index=index" class="answer" id="index" [class.active]="activeElement === index" (click)="toggleActive(index)">{{ g }}</div>
        <div class="answer" id="4" [class.active]="activeElement === 4" (click)="toggleActive(4)">
            <input type="text">
        </div>
    </div>

    <button style="width: 100%; margin-top: 16px;" mat-stroked-button>Next</button>
</div> -->

<div *ngIf="!isLoading">
    <button (click)="generateGameStory()" style="width: 100%; margin-bottom: 16px;" mat-stroked-button>Generate</button>

    <div class="test">
        <img *ngIf="story" class="image" src="data:image/png;base64, {{story.image}}" alt="">
        <img *ngIf="!story" class="image" src="assets\images\image1.jpg" alt="">
        <div class="button-menu">
            <button mat-mini-fab (click)="toStartPage()" style="border-radius: 8px; margin: 8px;" color="primary">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>
    <div class="description">
        <p>{{ story?.plot }}</p>
        <p>{{ story?.question }}</p>
    </div>
    <div class="answerList" *ngIf="story?.options as options">
        <div *ngFor="let answer of Object.values(options); let index=index" class="answer" id="index" [class.active]="activeElement === index" (click)="toggleActive(index)">{{ answer }}</div>
        <div class="answer" id="4" [class.active]="activeElement === 3" (click)="toggleActive(3)">
            <input type="text">
        </div>
    </div>
    <!-- <mat-radio-group style="
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    padding-block: 16px;
    " aria-labelledby="example-radio-group-label" *ngIf="story?.options as options">
        @for (answer of Object.values(options); track answer) {
        <mat-radio-button style="
    border: 2px solid var(--border-primary-2);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;" color="primary" [value]="answer">{{ answer }}
        </mat-radio-button>
        }
    </mat-radio-group> -->
    <button style="width: 100%; margin-top: 16px;" mat-stroked-button (click)="nextStep()" [disabled]="isDisabled()" >Next</button>
</div>